#background-image{
	background-image:url("tree.jpg");
}
#inside_background{
	border:2px outset black;
	padding:30px;
	width:800px;
}
h1{
	color:blue;
	text-align:center;
	font-family:cursive;
}
.school_name{
	font-family:Arial;
	font-size:20px;
}
