#background-image{
	background-img:url("https://image.chantemur.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/0/1007486.jpg");
}
#inside_background{
	border:2px outset black;
	padding:30px;
}
h1{
	color:blue;
	text-align:center;
	font-family:cursive;
}
.school_name{
	font-family:Arial;
	font-size:20px;
}
