#background-image{
	background-image:url("tree.jpg");
	padding:100px;
}
#inside_background{
	border:2px outset black;
	padding:30px;
	width:700px;
	background-color:white;
}
h1{
	color:blue;
	text-align:center;
	font-family:cursive;
}
.school_name{
	font-family:Arial;
	font-size:20px;
}
